@import '../../styles/typography.scss';
@import '../../styles/mixin.scss';

.date-range-picker {
  width: 100%;
}

.rdrDateRangePickerWrapper {
  height: 385px;
}

.rdrDefinedRangesWrapper {
  @include media(tablet) {
    display: none;
  }
}

