@import '../../styles/colors.scss';

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &__primary:not(:disabled) {
    background-color: $orange-primary;
    color: $blue-primary;

    &:hover {
      background-color: $orange-hover;
    }
  }

  &__disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: $blue-primary;
  }
}