$pure-white: #FFFFFF;
$white: #F6F6F6;
$light-gray: #E0E0E0;
$gray: #9E9E9E;
$dark-gray: #616161;
$black: #212121;
$pure-black: #000000;

$orange-primary: #F89134;
$orange-hover: #FFAA3C;
$orange-active: #F17149;

$blue-primary: #15325B;
$blue-secondary: #111A2C;

$error: #a12020;
