@import './colors.scss';
@import './typography.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-family: $font-family-dm-sans;
  color: $blue-primary;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
