@import '../../styles/colors.scss';
@import '../../styles/mixin.scss';

.header {
  display: flex;
  gap: 3rem;
  align-items: center;
  background-color: $blue-primary;
  padding: .75rem 2rem;

  @include media(tablet) {
    gap: 1rem;
  }

  &__title {
    color: $orange-primary;
    font-style: italic;
    font-size: 32px;
    font-weight: 400;

    @include media(tablet) {
      font-size: 24px;
    }

    @include media(phone) {
      font-size: 18px;
    }
  }

  &__logo {
    width: 175px;

    @include media(tablet) {
      width: 120px;
    }

    @include media(phone) {
      width: 90px;
    }
  }
}